/*Common center css*/
* { box-sizing: border-box; }

html, body {
	min-height: 110%;
	overflow: hidden;
}

body {
	font-family: sans-serif;
	background: linear-gradient(steelblue, darkblue);
}


.bolita {
	position: absolute;
	border-radius: 100%;
    width: 20px;
    height: 20px;
    animation: oval-shift 10s linear infinite alternate;
    transition-property: top left;
    transition-duration: 10s;
    transition-timing-function: ease-in-out;
    /*transition-delay: .6s;*/
}

/*#aa {
	animation: oval-shift 10s linear infinite alternate;
	padding: 100px;
	transition-property: top left;
	transition-duration: 12000ms;
	transition-timing-function: ease-in-out;
	transition-delay: .6s;
}*/

.num_1 {
	padding: 100px;
	background: linear-gradient(yellow,orange,orange,red,purple);
}
.num_2 {
	background-color: yellow;
}
.num_3 {
	background-color: green;
	padding: 30px;
}
.num_4 {
	background-color: orange;
}
.num_5 {
	background-color: white;
	padding: 20px;
}

@keyframes oval-shift {
	0% {
		border-radius: 61% 39% 70% 30% / 49% 60% 40% 51%;
	}
	25% {
		border-radius: 45% 55% 9% 91% / 66% 60% 40% 34% ;
	}
	50% {
		border-radius: 17% 83% 60% 40% / 84% 35% 65% 16%  ;
	}
	75% {
		border-radius: 56% 44% 18% 82% / 39% 70% 30% 61%   ;
	}
}