@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Text:wght@400;500;600&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Red Hat Text', sans-serif;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	color: #F1F1E6;
	background: linear-gradient(to right bottom, #144c7f, #114477, #0e3b6f, #0b3366, #092b5e, #1b2351, #211c45, #231639, #231028, #1e0b1a, #15050d, #000000);
}

@media (max-width: 900px) {
	.bar {
		margin-top: 0;
		position: fixed;
		top: 0;
		right: -500px;
		flex-direction: column;
		justify-content: space-around;
		height: 100vh;
		width: 50vw;
		background: rgba(0,0,0,0.5);
	}
/*	ul {
		margin-top: 0;
		position: fixed;
		top: 0;
		right: 0;
		flex-direction: column;
		justify-content: space-around;
		height: 100vh;
		width: 50vw;
		background: rgba(0,0,0,0.5);
		z-index: 1;
	}*/
	nav .fas {
		right:19px;
		top: 20px;
		visibility: visible !important;
	}


	nav  .fa-times {
	}
	.show {
		visibility: visible;
	}
}

.hidden {
	visibility: hidden;
}

.des {
	right: 0;
}

nav {
	width: 100%;
	padding: 0 20px;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
	position: fixed;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 3px;
}

nav .fas {
	position: absolute;
	visibility: hidden;
	display: flex;
	align-items: center;
	font-size: 2rem;
	z-index: 99999999999999;
	cursor: pointer;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
	transition: right .5s ease .1s;
}

li {
	margin: 0 .5rem;
	font-weight: bold;
	cursor: pointer;
}

li::after {
	content: '';
	display: block;
	width: 0%;
	height: .3rem;
	background-color: #fff;
	transition: width .5s;
}

li:hover::after {
	width: 100%;
}

@media (max-width: 900px) {
	.banner {
		flex-direction: column;
		min-height: 800px;
		padding: 2rem 0;
	}
	.performance {
		text-align: center;
		padding: 2rem 0;
	}

}

.banner {
	display: flex;
	height: 500px;
	align-items: center;
	border-bottom: 1px solid #fff;
}

.performance {
	animation: ttt 10s ease infinite alternate;
	flex: 1;
	font-size: 3rem;
	font-weight: bold;
	margin: 1rem;
	background-size: 1000% 1000% !important;
	background: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@keyframes ttt {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
.face {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	/*overflow: hidden;*/
}

.molde {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 260px;
	width: 260px;
	border-radius: 61% 39% 70% 30% / 49% 60% 40% 51% ;
	animation: oval-shift 20s cubic-bezier(.17,.67,.83,.67) infinite alternate-reverse;
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.photo {
	/*display: none;*/
	height: 350px;
	width: 350px;
	border-radius: 85% 15% 83% 17% / 54% 44% 56% 46% ;
	animation: oval-shift 20s ease-in-out infinite alternate;
	background-image: linear-gradient(to right top, #c2a645, #cb9429, #d67e10, #e16404, #eb3f12);
}
.photo img {
	display: flex;
	justify-self: center;
	margin: auto;
	background-color: #fff;
	border-radius: 85% 15% 83% 17% / 54% 44% 56% 46% ;
	animation: oval-shift 20s ease-in-out infinite alternate;
	background-image: linear-gradient(to left bottom, #051937, #1c5065, #5a8989, #a9c3b1, #fdfee8);
	object-fit: contain;
	height: 350px;
}
.me {
	height: 100%;
	width: 100%;
	border-radius: 85% 15% 83% 17% / 54% 44% 56% 46% ;
	animation: oval-shift 20s cubic-bezier(.17,.67,.83,.67) infinite alternate;
	background: url(src/image.png);
	object-fit: cover;

}

@keyframes oval-shift {
	0% {
		border-radius: 61% 39% 70% 30% / 49% 60% 40% 51%;
	}
	25% {
		border-radius: 45% 55% 9% 91% / 66% 60% 40% 34% ;
	}
	50% {
		border-radius: 17% 83% 60% 40% / 84% 35% 65% 16%  ;
	}
	75% {
		border-radius: 85% 15% 83% 17% / 52% 44% 56% 48%  ;
	}
}
@media (max-width: 900px) {
	.project img {
		width: 100%;
		object-fit: contain;
		height: auto;
	}
}

section {
	border-bottom: 1px solid #fff;
	padding: 2rem 0;
}
.projects_section {

}

header {
	margin-top: 3rem;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
}

.title {
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	letter-spacing: 2px;
	word-spacing: 5px;
	text-align: left;
}

.projects {
	margin: 0 20px;
	position: relative;
	display: flex;
	justify-content: center;
	/*flex-wrap: wrap;
	gap: 2rem;*/
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #fff;
	font-weight: 900;
	font-size: 30px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	/*z-index: 999999999999999999;*/
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

.project {
	display: flex;
	flex-direction: column;
	transition: 1s ease display;
	/*align-items: center;*/
}

.project img {
	height: 400px;
	/*width: 70%;*/
	margin: auto;
	/*object-fit: contain;*/
	border-radius: 20px;
	transition: opacity .5s ease;
}

.links {
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
}

.links a {
	padding: .5rem 1rem;
	border-radius: 20px;
	background-color: #F1F1E6;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

@media (max-width: 900px) {
	.skills_section {

	}
	.skills {
		padding: 0 1rem;
		display: block !important;
		text-align: center;
		margin: 1rem 0;
	}
	.skills div:nth-child(1n) {
		/*margin-bottom: 2rem !important;*/
	}
}

.skills_section {

}

.skills {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
	justify-items: center;
	column-gap: 10px;
	row-gap: 10px;
}

.skills div:nth-child(1n) {
	margin-bottom: 2rem;
}

.framework {
	grid-column-start: 1;
	grid-column-end: 3;
}

.skills .fab {
	margin: 0 1rem;
	font-size: 5rem;
}
.fa-html5 {
	color: #9F4907;
}
.fa-css3-alt {
	color: #07299F;
}
.fa-js-square {
	color: #C0C034;
}
.fa-react {
	color: #34C0AD;
}
.fa-php {
	color: #724387;
}
.fa-laravel {
	color: #741720;
}
.fa-node {
	color: #177423;
}

.contact_section {
	height: 600px;
}

.contact {

}
form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width:420px; margin:50px auto;
}

textarea {
	height: 150px;
	line-height: 150%;
	resize: vertical;
}

.feedback-input {
	color: #fff;
	font-weight:500;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border:2px solid #F1F1E6;
	padding: 13px;
	margin-bottom: 15px;
	width:100%;
	outline:0;
}
.feedback-input::placeholder {
	color: lightgrey;
}

[type="submit"] {
	padding: 13px;
	margin-bottom: 15px;
	width:100%;
	outline:0;
	font-weight:500;
	border-radius: 5px;
	line-height: 22px;
	color: #000;
	background-color: #F1F1E6;
	cursor: pointer;
}
[type="submit"]:focus, [type="submit"]:active {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}