@media (max-width: 900px) {
	.me {
	font-size: 1.5rem !important;
	text-align: center;
	}
	.networks span {
		display: block;
	}
	.networks a {
		margin: 0 .5rem;
	}
	.networks {
		width: auto !important;
	}
	.networks a svg {
		margin: 0 0 !important;
	}

}
#about_me {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	flex-flow:  no-wrap;
	justify-content: space-between;
}

.me {
	width: 90%;
	margin: 0 auto;
	font-size: 2rem;
}

.networks {
	background-color: rgba(0,0,0,.5);
	color: #fff;
	justify-self: start;
	padding: 1rem;
	width: 30%;
	margin: 2rem auto;
	text-align: center;
	border-radius: 20px;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}

.networks a svg {
	font-size: 2rem;
	margin: 0 1rem;
}

.github {
	color: #000;
}
.whatsapp {
	color: green;
}
.linkedin {
	color: #07299F;
}
.facebook {
	color: blue;
}